.theme-button {
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.35);
    background-color: var(--bg-accent-color);
    color: var(--text-color);
    border-radius: 1em;
    border: none;
    height: fit-content;
    padding: 7px;
    line-height: 1.5em;
}