.forecast-table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin-top: 15px;
}

.forecast-table {
    width: 100%;
    border-collapse: collapse;
        min-width: 600px;
}

.forecast-table th,
.forecast-table td {
    border: 1px solid var(--text-color);
padding: 12px;
    text-align: left;
}

.forecast-table th {
    background-color: var(--bg-accent-color);
}

/* Responsive */
@media (max-width: 600px) {

    .forecast-table th,
    .forecast-table td {
        font-size: 0.8em;
        padding: 8px;
    }
}