.footer-main {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
    background-color: white;
}

.footer-weather {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    text-align: center;
}

.footer-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px) {
    .footer-items {
        flex-direction: column;
        align-items: center;
    }

    .footer-items div {
        font-size: 0.9em;
    }
}